In [5]:
# Splitting Strings

import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from ipywidgets import interact, fixed
%matplotlib inline

print("Packages imported successfully.")

Packages imported successfully.

In [6]:
# Data from: Southern Great Plains, Central Facility, Oklahoma
# Dates: 2013-6-25 to 2014-6-25
input_data = pd.read_csv("20030625.csv")

print(type(input_data))
print(input_data)

<class 'pandas.core.frame.DataFrame'>
       DATE (MM/DD/YYYY)    CST  Global PSP-A [W/m^2]  Global PSP-B [W/m^2]  \
0              6/25/2003  05:15              -2.52450              -2.00050
1              6/25/2003  05:16              -2.08760              -1.47810
2              6/25/2003  05:17              -1.48420              -0.99684
3              6/25/2003  05:18              -1.00560              -0.37811
4              6/25/2003  05:19              -0.51322               0.10312
5              6/25/2003  05:20               0.02774               0.63935
6              6/25/2003  05:21               0.76983               1.33370
7              6/25/2003  05:22               1.58130               2.09680
8              6/25/2003  05:23               2.33720               2.80490
9              6/25/2003  05:24               3.16950               3.63670
10             6/25/2003  05:25               3.85610               4.35170
11             6/25/2003  05:26               4.63290               5.05980
12             6/25/2003  05:27               5.43040               5.85720
13             6/25/2003  05:28               6.47770               6.90910
14             6/25/2003  05:29               7.67060               8.13280
15             6/25/2003  05:30               8.95370               9.34970
16             6/25/2003  05:31              10.16100              10.59400
17             6/25/2003  05:32              11.47100              11.93500
18             6/25/2003  05:33              12.99000              13.51600
19             6/25/2003  05:34              14.40500              14.85600
20             6/25/2003  05:35              14.81400              15.32400
21             6/25/2003  05:36              15.27200              15.74300
22             6/25/2003  05:37              16.61100              17.06300
23             6/25/2003  05:38              19.25300              19.66200
24             6/25/2003  05:39              21.73600              22.09600
25             6/25/2003  05:40              24.36500              24.72200
26             6/25/2003  05:41              27.82500              28.11800
27             6/25/2003  05:42              31.64700              31.94000
28             6/25/2003  05:43              36.40500              36.69100
29             6/25/2003  05:44              40.35100              40.61000
...                  ...    ...                   ...                   ...
266757         6/25/2004  06:16              58.19600              57.92700
266758         6/25/2004  06:17              57.99500              57.74100
266759         6/25/2004  06:18              53.91000              53.63700
266760         6/25/2004  06:19              52.57800              52.31700
266761         6/25/2004  06:20              49.84500              49.62800
266762         6/25/2004  06:21              49.43500              49.26400
266763         6/25/2004  06:22              50.56600              50.30200
266764         6/25/2004  06:23              54.99200              54.64800
266765         6/25/2004  06:24              60.84600              60.35400
266766         6/25/2004  06:25              61.58800              61.13800
266767         6/25/2004  06:26              60.87400              60.45700
266768         6/25/2004  06:27              65.79800              65.30500
266769         6/25/2004  06:28              65.95800              65.60700
266770         6/25/2004  06:29              75.30100              74.89600
266771         6/25/2004  06:30              83.95800              83.35300
266772         6/25/2004  06:31              94.15400              93.27400
266773         6/25/2004  06:32              88.87500              88.05600
266774         6/25/2004  06:33              85.40700              84.72800
266775         6/25/2004  06:34              87.21800              86.56400
266776         6/25/2004  06:35              84.36700              83.69000
266777         6/25/2004  06:36              95.36200              94.54000
266778         6/25/2004  06:37              86.61500              85.98700
266779         6/25/2004  06:38              88.50200              87.82400
266780         6/25/2004  06:39              88.52300              87.78200
266781         6/25/2004  06:40              80.56700              79.95100
266782         6/25/2004  06:41              65.14000              64.81100
266783         6/25/2004  06:42              71.78600              71.37000
266784         6/25/2004  06:43              71.36900              70.99900
266785         6/25/2004  06:44              73.29100              72.99300
266786         6/25/2004  06:45              79.85300              79.38000

        Zenith Angle [degrees]
0                     89.89507
1                     89.74945
2                     89.60167
3                     89.45216
4                     89.30050
5                     89.14712
6                     88.99198
7                     88.83533
8                     88.67709
9                     88.51765
10                    88.35667
11                    88.19452
12                    88.03111
13                    87.86669
14                    87.70118
15                    87.53496
16                    87.36764
17                    87.19937
18                    87.03041
19                    86.86060
20                    86.69032
21                    86.51915
22                    86.34743
23                    86.17505
24                    86.00215
25                    85.82861
26                    85.65484
27                    85.48032
28                    85.30521
29                    85.12961
...                        ...
266757                79.36992
266758                79.18431
266759                78.99850
266760                78.81247
266761                78.62624
266762                78.43981
266763                78.25319
266764                78.06636
266765                77.87934
266766                77.69213
266767                77.50473
266768                77.31714
266769                77.12937
266770                76.94141
266771                76.75327
266772                76.56495
266773                76.37646
266774                76.18779
266775                75.99895
266776                75.80994
266777                75.62076
266778                75.43141
266779                75.24190
266780                75.05222
266781                74.86238
266782                74.67238
266783                74.48221
266784                74.29190
266785                74.10142
266786                73.91080

[266787 rows x 5 columns]

In [7]:
dates = input_data["DATE (MM/DD/YYYY)"]
print(dates)

0         6/25/2003
1         6/25/2003
2         6/25/2003
3         6/25/2003
4         6/25/2003
5         6/25/2003
6         6/25/2003
7         6/25/2003
8         6/25/2003
9         6/25/2003
10        6/25/2003
11        6/25/2003
12        6/25/2003
13        6/25/2003
14        6/25/2003
15        6/25/2003
16        6/25/2003
17        6/25/2003
18        6/25/2003
19        6/25/2003
20        6/25/2003
21        6/25/2003
22        6/25/2003
23        6/25/2003
24        6/25/2003
25        6/25/2003
26        6/25/2003
27        6/25/2003
28        6/25/2003
29        6/25/2003
            ...
266757    6/25/2004
266758    6/25/2004
266759    6/25/2004
266760    6/25/2004
266761    6/25/2004
266762    6/25/2004
266763    6/25/2004
266764    6/25/2004
266765    6/25/2004
266766    6/25/2004
266767    6/25/2004
266768    6/25/2004
266769    6/25/2004
266770    6/25/2004
266771    6/25/2004
266772    6/25/2004
266773    6/25/2004
266774    6/25/2004
266775    6/25/2004
266776    6/25/2004
266777    6/25/2004
266778    6/25/2004
266779    6/25/2004
266780    6/25/2004
266781    6/25/2004
266782    6/25/2004
266783    6/25/2004
266784    6/25/2004
266785    6/25/2004
266786    6/25/2004
Name: DATE (MM/DD/YYYY), dtype: object

In [9]:
dates_str = dates.astype(str)
print(type(dates_str[0]))

<class 'str'>

In [21]:
dates_mdy = dates.str.split('/', expand=True)
print(type(dates_mdy))
dates_mdy

<class 'pandas.core.frame.DataFrame'>

        0   1     2
0       6  25  2003
1       6  25  2003
2       6  25  2003
3       6  25  2003
4       6  25  2003
5       6  25  2003
6       6  25  2003
7       6  25  2003
8       6  25  2003
9       6  25  2003
10      6  25  2003
11      6  25  2003
12      6  25  2003
13      6  25  2003
14      6  25  2003
15      6  25  2003
16      6  25  2003
17      6  25  2003
18      6  25  2003
19      6  25  2003
20      6  25  2003
21      6  25  2003
22      6  25  2003
23      6  25  2003
24      6  25  2003
25      6  25  2003
26      6  25  2003
27      6  25  2003
28      6  25  2003
29      6  25  2003
...    ..  ..   ...
266757  6  25  2004
266758  6  25  2004
266759  6  25  2004
266760  6  25  2004
266761  6  25  2004
266762  6  25  2004
266763  6  25  2004
266764  6  25  2004
266765  6  25  2004
266766  6  25  2004
266767  6  25  2004
266768  6  25  2004
266769  6  25  2004
266770  6  25  2004
266771  6  25  2004
266772  6  25  2004
266773  6  25  2004
266774  6  25  2004
266775  6  25  2004
266776  6  25  2004
266777  6  25  2004
266778  6  25  2004
266779  6  25  2004
266780  6  25  2004
266781  6  25  2004
266782  6  25  2004
266783  6  25  2004
266784  6  25  2004
266785  6  25  2004
266786  6  25  2004

[266787 rows x 3 columns]

In [19]:
print(dates_mdy.values)

[['6' '25' '2003']
 ['6' '25' '2003']
 ['6' '25' '2003']
 ...,
 ['6' '25' '2004']
 ['6' '25' '2004']
 ['6' '25' '2004']]